---
interface Image {
  src: string;
  alt: string;
}

interface Props {
  className?: string;
  title: string;
  description: string;
  img?: Image;
  size: string;
}

const { className, title, description, img, size } = Astro.props;
---

<div class={`card ${size} ${className}`}>
  {img && <img src={img.src} alt={img.alt} />}
  <div class="card__info">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>

<style>
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 10px;
  }

  .card.full {
    width: 100%;
  }

  .card.fit {
    width: fit-content;
  }

  .card.medium {
    width: 300px;
  }

  .card.small {
    width: 200px;
  }

  .card__info {
    padding: 20px;
    color: var(--light-color);
  }

  .card__info h3 {
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
    font-weigth: bold;
  }

  .card__info p {
    font-weight: 100;
  }

  .card img {
    height: auto;
    width: 300px;
  }

  .card.absolute {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 10;
  }
</style>
